<% if @current_user.level != 'agency-employees' %>
	<%= tab 'Pay Cert.', {:controller => :pay_cert}, {:action => :index, :id => nil, :sc => nil, :sid => nil}, :class => 'tab-pay_cert' + (params[:sc] == 'pay_cert' ? ' active' : '') %>
	<%= tab '105 Forms', {:controller => :form_change, :sc => nil}, {}, {:class => 'tab-form' + (params[:sc] == 'form_change' ? ' active' : ''), :title => 'Electronic Personnel Change Form'} %>				
	<%= tab '330 Forms', {:controller => :form_hire, :sc => nil}, {}, {:class => 'tab-form' + (params[:sc] == 'form_hire' ? ' active' : ''), :title => 'Electronic New Hire Form'} %>				
	<% if @current_user.staff_level? %>
		<%= tab '222 Forms', {:controller => :form_title, :sc => nil}, {}, {:class => 'tab-form', :title => 'Electronic New Title Form'} %>				
	<% end %>
<% end %>