<div class="viewer">
	<div class="header">General Info.</div>
	<div class="row">
		<table>
			<tr>
				<td>
					<label>ID:</label>
					<%= o.id %>
				</td>
				<td>
					<label>Name:</label>
					<%= h o.name %>
				</td>
				<td>
					<label>Area:</label>
					<% if o.personnel_area %><%= h o.personnel_area.name %><% end %>
				</td>
				<td>
					<label>Emails:</label>
					<%= h o.emails %>
				&nbsp;</td>
			</tr>
		</table>
	</div>
</div>