<%= partial 'nav' %>
<div class="marg">Applications are imported from the public civil service portal. Click the button below to run the import immediately.</div>
<%= form_tag %>
	<div class="marg"><%= submit_tag 'Run Import' %></div>
</form>