<table class="dg">
	<thead>
		<tr>
			<td width="1%">Actions</td>
			<th width="1%">ID</th>
			<th width="98%">Title</th>
		</tr>
	</thead>
	<tbody id="objs">
		<% @objs.each { |o| %>
			<tr class="<%= cycle 'odd', 'even' %>" id="obj_<%= o.id %>">
				<td class="nobr"><%= partial 'actions', :o => o %></td>
				<td><%= o.id %></td>
				<td><%= link_to o.title, :action => :view, :id => o.id %></td>
			</tr>
		<% } %>
	</tbody>
</table>