<%= partial 'form_change/status', :o => o %>

<div class="viewer">
	<div class="header">General Info.</div>
	<div class="row">
		<table>
			<tr>
				<td>
					<label>ID:</label>
					<%= o.id %>
				</td>
				<td>
					<label>Title:</label>
					<%= h o.title %>
				&nbsp;</td>
			</tr>
		</table>
	</div>
</div>