<div class="tabs">
	<%= tab 'Title List', {:sc => nil, :sid => nil, :controller => :agency, :action => :jobs, :id => params[:id], :id2 => 'list'} %>
	<%= tab 'Title Problems', {:sc => nil, :sid => nil, :controller => :agency, :action => :jobs, :id => params[:id], :id2 => 'problems'}, {}, {:class => 'tab-problems'} %>
	<div class="clear"></div>
</div>