<%= f.tr_text_field :name, :label => 'Name', :req => true, :class => 'ucase' %>
<%= f.tr_text_field :abbreviation, :label => 'Abbreviation', :class => 'ucase' %>
<%= f.tr_select :liaison_id, User.find(:all, :conditions => 'users.level not in ("agency", "agency-head")', :order => 'users.name asc').collect { |u| [u.name, u.id] }, :include_blank => true, :label => 'Liaison User' %>