<% if @current_user.agency_level? && o.exec_decision != 'Started' %>
	<p class="marg">This request has been submitted and can no longer be edited.</p>
<% else %>
	<%= partial 'partial/form', :o => o %>
<% end %>