<html>
<head>
<style>
html, body { padding: 0; margin: 0; border: 0; }
body, td, th { font: 10px/15px Trebuchet MS, Verdana, Arial, sans-serif; }
h1 { font-size: 14px; margin: 10px 0; padding: 0; font-weight: bold; }
h2 { font-size: 12px; margin: 10px 0; padding: 0; font-weight: bold; }
.right { float: right; }
.nobr { white-space: nowrap; }
table { border-collapse: collapse; padding: 0; margin: 10px 0; }
th, td { text-align: left; } 
th { font-weight: bold; }
table.filter td { padding-right: 10px; }
table.filter th { text-align: right; padding-right: 5px; }
table.report { width: 100%; table-layout: fixed; } 
table.report th, table.report td { padding: 1px 5px 1px 0; border-bottom: 1px solid #ccc; vertical-align: top; }
table.report th { border-color: #000; }
.form-approved { color: #080; }
.form-disapproved { color: #800; }
.form-none { color: #888; }
.form-hold { color: #008; }
.form-started { color: #888; }
.form-submitted { color: #008; }
.form-filled { color: #808; }
.form-expired { color: #000; }
table.report td.fill-in { padding: 0 0 1px 1px; }
table.report td.fill-in div { border: 1px solid #ccc; border-width: 0 1px 1px 1px; padding: 0 2px; text-align: center; min-height: 15px; }
.center { text-align: center; }

.td-id { width: 4%; }
.td-received_date { width: 6%; }
.td-job_type { width: 4%; }
.td-exec_approval_no { width: 6%; }
.td-hr_exec_date { width: 6%; }
<% if @filter.group == 'div' %>
.td-position { width: 34%; }
.td-last_incumbent { width: 20%; }	
.td-hr_candidate_hired { width: 20%; }

.td-hr_decision { width: 14%; }
.td-omb_decision { width: 14%; }
.td-omb_grant_percent { width: 8%; }
.td-exec_decision { width: 14%; }

<% else %>
.td-organization { width: 26%; }
.td-position { width: 28%; }
.td-last_incumbent { width: 10%; }	
.td-hr_candidate_hired { width: 10%; }

.td-hr_decision { width: 8%; }
.td-omb_decision { width: 8%; }
.td-omb_grant_percent { width: 5%; }
.td-exec_decision { width: 9%; }

<% end %>




thead { display: table-header-group }
tfoot, tbody { display: table-row-group }
tr { page-break-inside: avoid; }

</style>
</head>
<body>
<h1>Requests to Fill Vacancies Report</h1>
<%= partial 'print_filter' %>
<% if @filter.group == 'dept' %>
	<% @objs_grouped.keys.sort.each { |d| objs = @objs_grouped[d]  %>
		<h2><%= d %></h2>
		<table class="report">
			<%= partial 'report_thead' %>
			<%= partial 'report_objs', :objs => objs %>
		</table>
	<% } %>
<% elsif @filter.group == 'div' %>
	<% @objs_grouped.keys.sort.each { |d| group = @objs_grouped[d]  %>
		<h2><%= d %></h2>
		<table class="report">
			<%= partial 'report_thead' %>
			<% group.keys.sort.each { |v| objs = group[v]  %>
				<% div, org, cc = v.split("\t") %>
				<tbody><tr><th colspan="8" style="padding-top: 10px;"><%= org %> - <%= div %> (<%= cc %>)</th></tr></tbody>
				<%= partial 'report_objs', :objs => objs %>
			<% } %>
		</table>
	<% } %>	
<% else %>
	<table class="report">
		<%= partial 'report_thead' %>
		<%= partial 'report_objs', :objs => @objs_grouped %>
	</table>
<% end %>
</body>
</html>











<% if false %>
<table class="report">
	<thead>
		<tr>
			<th width="1%" class="nobr">ID</th>
			<th width="1%" class="nobr">Rcvd</th>
			<th width="1%" class="nobr">HR</th>
			<th width="1%" class="nobr">OMB</th>
			<th width="1%" class="nobr">%GF</th>
			<th width="1%" class="nobr">Exec</th>
			<th width="1%" class="nobr">App #</th>
			<th width="1%" class="nobr">Pos #</th>
			<th width="99%" class="nobr">Position</th>
			<th width="1%" class="nobr">Wk</th>
			<th width="1%" class="nobr">Hr</th>
			<th width="1%" class="nobr">Grp</th>
			<th width="1%" class="nobr">Type</th>
			<th width="1%" class="nobr">Used</th>
		</tr>	
	</thead>
	<% tot = 0; t_ft = 0; t_pt = 0; t_tmp = 0 %>
	<% @objs_grouped.each { |grp, objs| %>
		<% tot += objs.size %>
		<% ft = 0; pt = 0; tmp = 0 %>
		<% cc, org, no = grp.split("\t") %>
		<tbody>
			<% data = capture { %>
				<% objs.each { |o| %>
					<% ft += 1 if o.job_type == 'Full Time' %>
					<% pt += 1 if o.job_type == 'Part Time' %>
					<% tmp += 1 if o.job_type == 'Seasonal/Temporary' %>
					<tr>
						<td class="nobr"><%= o.id %></td>
						<td class="nobr"><%= o.received_date.d0? %></td>
						<td class="nobr border"><%= vac_status o.hr_decision.sub('Approved', 'App').sub('Disapproved', 'Dis') if !o.hr_decision.blank? %></td>
						<td class="nobr border"><%= vac_status o.omb_decision.sub('Approved', 'App').sub('Disapproved', 'Dis') if !o.omb_decision.blank? %></td>
						<td class="nobr border"><%= o.omb_grant_percent if o.omb_grant_percent.to_i != 0 %></div></td>
						<td class="nobr border"><%= vac_status o.exec_decision.sub('Approved', 'App').sub('Disapproved', 'Dis') if !o.exec_decision.blank? %></td>
						<td class="nobr" style="padding-left: 2px;"><%= h o.exec_approval_no %></td>
						<td class="nobr"><%= o.position_no %></td>
						<td><%= o.position %></td>
						<td class="nobr"><%= o.no_weeks %></td>
						<td class="nobr"><%= o.hours_week %></td>
						<td class="nobr"><%= o.salary_group %></td>
						<td class="nobr"><%= o.job_type.sub('Seasonal/Temporary', 'Tmp').sub('Full Time', 'FT').sub('Part Time', 'PT') %></td>
						<td class="nobr"><%= o.hr_approval_used.d0? %></td>
					</tr>
				<% } %>			
			<% } %>
			<tr>
				<th colspan="100" style="padding-top: 10px;">
					<div class="right">Total Count: <%= objs.size %>, FT: <%= ft %>, PT: <%= pt %>, Tmp: <%= tmp %>, Org #: <%= h no %>, Cost Center: <%= h cc %></div>
					<%= h org %>
				</th>
			</tr>
			<%= data %>
		</tbody>
		<% t_ft += ft; t_pt += pt; t_tmp += tmp %>
	<% } %>
	<tbody>
		<tr>
			<th colspan="100" style="padding-top: 10px; border-bottom: 1px;">Total Count: <%= tot %>, FT: <%= t_ft %>, PT: <%= t_pt %>, Tmp: <%= t_tmp %></th>
		</tr>
	</tbody>
</body>
</html>
<% end %>