<html>
	<head>
		<style type="text/css">
			body { margin: 0; padding: 0; font: 11px/1.1 sans-serif; }
		</style>
	</head>
	<body>
		<div style="text-align: right;">Issue date: <script type="text/javascript"> document.write((new Date()).toDateString()); </script></div>
		<div style="text-align: center; border-top: 1px solid #000;">210 County Office Building, 39 West Main Street, Rochester, NY  14614-1471<br />
		PHONE:  (585) 753-1700   TTY:  (585) 753-1091   WEB SITE: http://www.monroecounty.gov<br />
		Monroe County government prohibits discrimination in employment, program activities, procurement and contracting against any person due to such person's age, marital status, disability, genetic predisposition or carrier status, race, color, creed, sexual orientation or national origin.<br />
		An Equal Opportunity Employer
	</body>
</html>