<%= f.tr_text_area :typ, :label => 'Type', :req => true, :class => 'ucase', :rows => 2, :cols => 30 %>
<%= f.tr_text_area :value, :label => 'Value', :req => true, :class => 'ucase', :rows => 6, :cols => 60 %>