<div class="viewer">
	<div class="header">General Info.</div>
	<div class="row">
		<table>
			<tr>
				<td>
					<label>ID:</label>
					<%= o.id %>
				</td>
			</tr>
		</table>
	</div>
	<div>
		<table>
			<tr>
				<td>
					<label>Value:</label>
					<%= nl2br_h o.value %>
				&nbsp;</td>
			</tr>
		</table>
	</div>
</div>