<tr>
	<th>View:</th>
	<td>
		<label><%= f.radio_button :typ, '' %> All</label>&nbsp;&nbsp;&nbsp;
		<label><%= f.radio_button :typ, 'preferred' %> Only Preferred Lists</label>&nbsp;&nbsp;&nbsp;
		<label><%= f.radio_button :typ, 'military' %> Only Military Lists</label>
	</td>
</tr>