<div class="row">
	<table>
		<tr>
			<td>
				<label>Documents:</label>
				<% if @obj.documents.empty? %>
					None
				<% else %>
					<% @obj.documents.each { |d| %>
						<div><%= link_to d.filename, {:sc => params[:controller], :sid => @obj.id, :controller => :document, :action => :download, :id => d.id}, :target => '_blank' %></div>
					<% } %>
				<% end %>
			</td>
		</tr>
	</table>
</div>