<tr>
	<th>Status:</th>
	<td>
		<label><%= f.radio_button :status, 'all' %> All</label>&nbsp;&nbsp;&nbsp;
		<label><%= f.radio_button :status, 'vacant' %> Only Vacant</label>&nbsp;&nbsp;&nbsp;
		<label><%= f.radio_button :status, 'occupied' %> Only Occupied</label>
	</td>
</tr>