<% if !@current_user.agency_level? %>
	<%= tab 'Veteran\'s Credits', {:sc => nil, :sid => nil, :controller => :person, :action => :veterans, :id => nil} %>
	<%= tab 'SSN Merge', {:sc => nil, :sid => nil, :controller => :person, :action => :ssn_merge, :id => nil} %>
	<%= tab 'Bad SSNs', {:sc => nil, :sid => nil, :controller => :person, :action => :ssn_merge_bad, :id => nil} %>
	<%= tab 'Duplicate Emails', {:sc => nil, :sid => nil, :controller => :person, :action => :dup_email, :id => nil} %>
<% end %>
