<div class="viewer">
	<div class="header">General Info.</div>
	<div class="row">
		<table>
			<tr>
				<td>
					<label>ID:</label>
					<%= o.id %>
				</td>
				<td>
					<label>No:</label>
					<%= o.no %>
				</td>
				<td>
					<label>Name:</label>
					<%= h o.name %>
				</td>
				<td>
					<label>emails:</label>
					<%= h o.emails %>
				&nbsp;</td>
			</tr>
		</table>
	</div>
</div>