<%= partial 'errors', :errors => o.errors.full_messages %>
<% table_form_for(:obj, :html => {:multipart => true}) { |f| %>
	<%= partial 'fields', :f => f, :o => o %>
	<% if o.new_record? %>
		<tr><th></th><td><%= submit_tag 'Submit &amp; View' %><% if false %><%= submit_tag 'Submit &amp; Enter Another', :name => 'another' %><% end %></td></tr>
	<% else %>
		<%= f.tr_submit 'Submit' %>
	<% end %>
<% } %>