<html>
	<head>
		<style type="text/css">

			html, body { padding: 0; margin: 0; border: 0; }
			body, td, th { font: 10px/15px Trebuchet MS, Verdana, Arial, sans-serif; }
			
			table { border-collapse: collapse; width: 100%; }
			td, th { vertical-align: top; text-align: left; padding: 2px; }
			th { font-weight: bold; }
			td { border-bottom: 1px solid #888; }
			
			.r { text-align: right; }
			
			.nobr { white-space: nowrap; }
			
		</style>
	</head>
	<%
	
		@objs = @objs.group_by &:jurisdiction
	
	%>
	<body>
		<div style="float: right;"><%= Time.now.d0? %></div>
		<h3>
			Provisional Run<br />
			Jurisdictions: <% if params['jurisdictions'].blank? %>All<% else %><%= h params['jurisdictions'].join(',') %><% end %>
			<% if @from_date %>
				<br />Reference Date From: <%= @from_date.d0? %>
			<% end %>
			<% if @to_date %>
				<br />Reference Date To: <%= @to_date.d0? %>
			<% end %>
		</h3>
		<table>
			<tr style="border-top: 1px solid #000; border-bottom: 1px solid #000;">
				<th width="50%">Name</th>
				<th width="49%">Title</th>
				<th width="1%" class="nobr">Orig. Apt.</th>
			</tr>
			<% @objs.keys.sort.each { |k| objs = @objs[k] %>
				<tr><th colspan="4" style="border-bottom: 1px solid #888;"><%= h k %></th></tr>
				<% objs.each { |o| %>
					<tr>
						<td>&nbsp;&nbsp;&nbsp;&nbsp;<%= h o.name %></td>
						<td><%= h o.title %></td>
						<td class="nobr"><%= h o.original_appointment %></td>
					</tr>
				<% } %>
			<% } %>
		</table>
	</body>
</html>
