<html>
	<head>
		<style type="text/css">

			html, body { padding: 0; margin: 0; border: 0; }
			body, td, th { font: 11px/16px Trebuchet MS, Verdana, Arial, sans-serif; }
			
			table { border-collapse: collapse; width: 100%; }
			td, th { vertical-align: top; text-align: left; padding: 2px; }
			
			th { font-weight: bold; border-top: 1px solid #000; border-bottom: 1px solid #000; }
			
		</style>
	</head>
	<body>
		<div style="float: right;"><%= Time.now.d0? %></div>
		<h3>
			Seniority List Report<br />
			<%= h @agency.name %>
		</h3>
		<table>
			<tr>
				<th>Name</th>
				<th>Department</th>
				<th>Seniority Date</th>
			</tr>
			<% keys = @objs.keys.sort %>
			<% keys.each { |k| objs = @objs[k] %>
				<tr>
					<th colspan="3"><%= h k %></th>
				</tr>
				<% objs.each { |o| %>
					<tr>
						<td><%= h "#{o.last_name}, #{o.first_name}" %></td>
						<td><%= o.department_name %></td>
						<td><%= Date.parse(o.seniority_date).d0? rescue nil %></td>
					</tr>
				<% } %>
			<% } %>
		</table>		
	</body>
</html>
