<%= f.tr_text_field :name, :label => 'Name', :req => true %>
<%= f.tr_text_field :description, :label => 'Description' %>
<%= f.tr_check :absent, :label => 'Absent?', :text => 'Check here if this action indicates a termination of employment' %>