<div class="viewer">
	<div class="header">General Info.</div>
	<div class="row">
		<table>
			<tr>
				<td>
					<label>ID:</label>
					<%= o.id %>
				</td>
				<td>
					<label>Absent?</label>
					<%= yn o.absent? %>
				</td>
				<td>
					<label>Name:</label>
					<%= h o.name %>
				</td>
				<td>
					<label>Descriptioin:</label>
					<%= h o.description %>
				&nbsp;</td>
			</tr>
		</table>
	</div>
</div>