<%= f.tr_text_field :name, :label => 'Title', :class => 'ucase', :req => true %>
<%= f.tr_check :inactive, :label => 'Inactive?', :text => 'Check here to make this title inactive' %>
<%= f.tr_text_field :ordered_date, :label => 'Ordered Date', :help => 'Date the exams are ordered for the first time.' %>