<tr>
	<th>Options:</th>
	<td>
		<label>Approved Titles For Agency: <%= f.select :agency_id, @agency_options, :include_blank => 'All Titles' %></label>
		&nbsp;&nbsp;&nbsp;
		<label><%= f.check_box :inactive %> Show Inactive Titles</label>
	</td>
</tr>