<html>
	<head>
		<style type="text/css">

			html, body { padding: 0; margin: 0; border: 0; }
			body, td, th { font: 12px/16px Trebuchet MS, Verdana, Arial, sans-serif; }
			table { border-collapse: collapse; }
			td, th { text-align: left; padding: 3px 5px; vertical-align: top; border-bottom: 1px solid #000; }
			th { font-weight: bold; white-space: nowrap; }
		
		</style>
	</head>
	<% first = true %>
	<body>
		<% @applicants_indexed.keys.sort.each { |exam_name| %>
			<% @applicants_indexed[exam_name].keys.sort.each { |exam_site_name| %>
				<h2<% if !first %> style="page-break-before: always;"<% end %>>EXAM: <%= h exam_name %></h2>
				<% first = false %>
				<h2>SITE: <%= h exam_site_name.blank? ? 'UNKNOWN EXAM SITE' : exam_site_name %></h2>
				<table width="100%">
					<tr>
						<th>SSN</th>
						<th>Last Name</th>
						<th>First Name</th>
					</tr>
					<% @applicants_indexed[exam_name][exam_site_name].each { |a| %>
						<tr>
							<td>xxx-xx-<%= a.person.ssn[7..10] %></td>
							<td><%= h a.person.last_name %></td>
							<td><%= h a.person.first_name %></td>
						</tr>
					<% } %>
				</table>
			<% } %>
		<% } %>
	</body>
</html>