<div class="viewer">
	<div class="header">General Info.</div>
	<div class="row">
		<table>
			<tr>
				<td>
					<label>ID:</label>
					<%= o.id %>
				</td>
				<td>
					<label>Reason:</label>
					<%= h o.reason %>
				&nbsp;</td>
			</tr>
		</table>
	</div>
</div>