<%= partial 'errors', :errors => @obj.errors.full_messages %>
<h2 id="login-form"><span>Reset Password</span></h2>
<% table_form_for(:obj) { |f| %>
	<tr><th><%= f.label :password, 'New Password:' %></th></tr>
	<tr><td><%= f.password_field :password, :style => 'width: 90%;' %><div>Min: 8 characters, must contain 1 of each: uppercase, lowercase, number, special character (#%$@*...)</div></td></tr>
	<tr><th><%= f.label :password, 'Retype Password:' %></th></tr>
	<tr><td><%= f.password_field :password_confirmation, :style => 'width: 90%;' %></td></tr>
	<tr><td><%= f.submit %> <%= link_to 'Logout', :action => :logout %></td></tr>
<% } %>