<%= f.tr_text_field :lastname, :label => 'Last Name', :req => true, :class => 'ucase' %>
<%= f.tr_text_field :firstname, :label => 'First Name',  :req => true, :class => 'ucase' %>
<%= f.tr_text_field :title, :label => 'Title',  :class => 'ucase' %>
<%= f.tr_text_field :email, :label => 'Email Address' %>
<%= f.tr_text_field :phone, :label => 'Phone',  :class => 'ucase' %>
<%= f.tr_text_field :fax, :label => 'Fax',  :class => 'ucase' %>
<%= f.tr_check :primary, :label => 'Primary Contact?',:text=> 'Check here if this is your primary contact' %>
