<%= f.tr_text_field :name, :label => 'Name', :req => true, :class => 'ucase' %>
<%= f.tr_text_field :second_provisional, :label => '2nd Provisional', :class => 'ucase', :size => '20' %>
<%= f.tr_text_field :title, :label => 'Title', :class => 'ucase' %>
<%= f.tr_text_field :exam_requested, :label => 'Exam Requested', :class => 'ucase', :size => '20' %>
<%= f.tr_text_field :original_appointment, :label => 'Original Appointment', :class => 'ucase', :size => '20' %>
<%= f.tr_text_field :exam_date, :label => 'Exam Date', :class => 'ucase', :size => '20' %>
<%= f.tr_text_field :jurisdiction, :label => 'Jurisdiction', :class => 'ucase' %>
<%= f.tr_select :pass_fail, ['e', 'f', 'p'], :include_blank => true, :label => 'Pass/Fail' %>
<%= f.tr_calendar_date_select :reference_date, :label => 'Reference Date' %>s