<html>
	<head>		
		<script type="text/javascript" src="https://www2.monroecounty.gov/modules/jquery_update/replace/jquery/jquery.min.js?v=1.5.2"></script>
		<link type="text/css" rel="stylesheet" media="all" href="https://www2.monroecounty.gov/themes/mc/style.css" />
		<link type="text/css" rel="stylesheet" media="all" href="https://www2.monroecounty.gov/themes/mc/header.css" />
		<link type="text/css" rel="stylesheet" media="all" title="small" href="https://www2.monroecounty.gov/themes/mc/small.css" />
		<link type="text/css" rel="alternate stylesheet" media="all" title="medium" href="https://www2.monroecounty.gov/themes/mc/medium.css" />
		<link type="text/css" rel="alternate stylesheet" media="all" title="large" href="https://www2.monroecounty.gov/themes/mc/large.css" />	
		<link type="text/css" rel="stylesheet" media="print" href="https://www2.monroecounty.gov/themes/mc/print.css" />			
		<%= stylesheet_link_tag 'public', :media => 'all' %>
		<%= javascript_include_tag 'public', 
			'coolfieldset/js/jquery.coolfieldset.js' %>
		<%= stylesheet_link_tag '/javascripts/coolfieldset/css/jquery.coolfieldset.css', :media => 'all' %>
	</head>
	<body class="page path-hr">
		<% if RAILS_ENV == 'development' %><div id="dev-bar">DEVELOPMENT SITE</div><% end %>
		<div id="wrap">
		<div id="top-nav">
			<ul>
				<li><a href="http://www.monroecounty.gov/default-help.php">Help</a></li>
				<li><a href="mailto:webmaster@monroecounty.gov">Contact Us</a></li>
				<li><a href="http://www.monroecounty.gov/default-faq.php">FAQ</a></li>
				<li><a href="http://www.monroecounty.gov/default-sitemap.php">Site Map</a></li>
			</ul>
			<div class="clear"></div>
		</div>
		
		<div id="top">
			<div id="search">
				<form id="search-mc" action="http://www.monroecounty.gov/search" method="post">
					Search: 
					<input type="text" name="edit[keys]" />
					<input type="submit" value="Go!"/>
				</form>
			</div>
			<h1 id="logo"><a href="http://www.monroecounty.gov"><span style="visibility: hidden;">Monroe County, NY</span></a></h1>
		</div>
		
		<div id="nav">
			<ul>
				<li id="n1"><a href="http://www.monroecounty.gov/home-index.php">MyMonroe</a></li>
				<li id="n2"><a href="http://www.monroecounty.gov/resident-index.php">Resident</a></li>
				<li id="n3"><a href="http://www.monroecounty.gov/visitor-index.php">Visitor</a></li>
				<li id="n4"><a href="http://www.monroecounty.gov/business-index.php">Business</a></li>
				<li id="n5"><a href="http://www.monroecounty.gov/business-index.php">Government</a></li>
				<li id="n6"><a href="http://www.monroecounty.gov/government-index.php">Employment</a></li>
				<li id="n7"><a href="http://www.monroecounty.gov/department-index.php">Departments</a></li>
				<li id="n8"><a href="http://www.monroecounty.gov/online">Get It Done Online!</a></li>
			</ul>
			<div class="clear"></div>
		</div>
		
		<div id="breadcrumb"></div>
		
		<div id="columns">
		
			<div id="center-col">
				<div id="center-inner">
					<%= yield %>
					

					<p style="text-align: center;" class="borders">
						<small>&nbsp;<a href="javascript:print();"><img alt="" src="https://www.monroecounty.gov/files/images/item-print.gif"> print this page</a> &nbsp;&nbsp;
						<a href="javascript:mailpage();"><img alt="" src="https://www.monroecounty.gov/files/images/item-email.gif"> email this page</a> &nbsp;&nbsp;
						<a href="#wrap"><img alt="" src="https://www.monroecounty.gov/files/images/item-totop.gif"> back to top</a></small>
					</p>
					<p style="text-align: center;">
						<small><a href="http://www.monroecounty.gov/default-about.php">About MonroeCounty.gov</a> · 
						<a href="http://www.monroecounty.gov/default-accessibilitystandards.php">Accessibility and Standards</a> · 
						<a href="http://www.monroecounty.gov/rss-info">RSS News Feed</a><br>
						<a href="http://www.monroecounty.gov/default-disclaimer.php">Disclaimer and Privacy Policy</a> · 
						<a href="http://www.monroecounty.gov/hr-index.php#NonDisciminationPolicy">Non-Discrimination Policy</a></small>
					</p>
					<p style="text-align: center;">
						<small>Official Site of Monroe County, New York. Copyright © 2013 Monroe County. All Rights Reserved.<br>
						Comments or suggestions? Please e-mail the MonroeCounty.gov <a href="mailto:webmaster@monroecounty.gov">webmaster</a>.</small>
					</p>
					<p style="text-align: center;">
						<small><a href="http://www.adobe.com/products/acrobat/readstep2.html"><img alt="Get Adobe Reader free from Adobe.com." src="https://www.monroecounty.gov/files/images/get_adobe_reader.gif"></a>&nbsp;
						<a href="http://www.adobe.com/products/flashplayer.html"><img border="0" alt="Get the free Flash Player from Adobe.com." src="https://www.monroecounty.gov/files/images/get_flash_player.gif"></a></small>
					</p>

					
				</div>
			</div>
			
			<div id="left-col">
				
			<div id="switcher">
				<ul>
					<li id="sstyle"><a href="javascript:jQuery.stylesheetSwitch('small');">Small Text Size</a></li>
					<li id="mstyle"><a href="javascript:jQuery.stylesheetSwitch('medium');">Medium Text Size</a></li>
					<li id="lstyle"><a href="javascript:jQuery.stylesheetSwitch('large');">Large Text Size</a></li>
					<li id="emailpage"><a href="javascript:mailpage();">Email Page</a></li>
					<li id="printpage"><a href="javascript:print();">Print Page</a></li>
				</ul>
			</div>
				
			<img width="150" height="33" border="0" src="https://www2.monroecounty.gov/themes/mc/col-flag.jpg" id="flag" />
			<div id="ql" class="linklist">
				<a href="#" id="ql-toggle" onclick="jQuery('#ql').toggleClass('open'); return false;">QUICK LINKS</a>
				<ul>
				
					<li><a href="http://www.monroecounty.gov/safety-ecd.php" title="Emergency Communications Department 9-1-1">9-1-1 ECD </a></li>
					<li><a href="http://www.monroecounty.gov/aging-index.php" title="Office for the Aging page">Aging and Adult Services</a></li>
					<li><a href="http://www.monroecounty.gov/airport-index.php" title="Airport (GRIA) and Aviation Department page">Airport (GRIA)</a></li>
				
					<li><a href="http://www.monroecounty.gov/elections-index.php" title="Board of Elections page">Board of Elections</a></li><li><a href="http://www.monroecounty.gov/budget-index.php" title="Office of Management and Budget page">Budget</a></li>
					<li><a href="http://www.monroecounty.gov/communications-index.php" title="Department of Communications page">Communications</a></li>
					<li><a href="http://www.monroecounty.gov/clerk-index.php" title="County Clerk page">County Clerk</a></li>
					<li><a href="http://www.monroecounty.gov/executive-index.php" title="County Executive page">County Executive</a></li>
					<li><a href="http://www.monroecounty.gov/da-index.php" title="Distrcit Attorney page">District Attorney</a></li>
					<li><a href="http://www.monroecounty.gov/economic2-index.php" title="Economic Development page">Economic Development</a></li>
				
					<li><a href="http://www.monroecounty.gov/safety-oep.php" title="Emergency Preparedness page">Emergency Preparedness</a></li>
					<li><a href="http://www.monroecounty.gov/des-index.php" title="Department of Environmental Services page">Environmental Services (DES) </a></li>
					<li><a href="http://www.monroecounty.gov/fbci-index.php" title="Faith Based and Community Initiatives page">Faith Based and Community Initiatives</a></li>
					<li><a href="http://www.monroecounty.gov/finance-index.php" title="Finance page">Finance</a></li><li><a href="http://www.monroecounty.gov/gis-index.php" title="Geographic Information System (GIS)">Geographic Information System (GIS)</a></li>
					
					<li><a href="http://www.monroecounty.gov/history-index.php" title="History page">History</a></li>
					<li><a href="http://www.monroecounty.gov/hr-index.php" title="Department of Human Resources page">Human Resources</a></li>
				
					<li><a href="http://www.monroecounty.gov/hs-index.php" title="Department of Human Services page">Human Services</a></li>
					<li><a href="http://www.monroecounty.gov/is-index.php" title="Information Services page">Information Services</a></li>
					<li><a href="http://www.monroecounty.gov/law-index.php" title="Law Department page">Law</a></li>
					<li><a href="http://www.monroecounty.gov/legislature-index.php" title="County Legislature page">Legislature</a></li>
					<li><a href="http://www.monroecounty.gov/libra-index.php" title="Monroe County Library System page">Library (LIBRA)</a></li>
					<li><a href="http://www.monroecounty.gov/mh-index.php" title="Office of Mental Health page">Mental Health</a></li>
				
					<li><a href="http://www.monroecounty.gov/mcc-index.php" title="Monroe Community College page">Monroe Community College (MCC)</a></li>
					<li><a href="http://www.monroecounty.gov/mch-index.php" title="Monroe Community Hospital page">Monroe Community Hospital (MCH) </a></li>
					<li><a href="http://www.monroecounty.gov/communications-newst.php" title="News and Media Information page">News and Media Information</a></li>
					<li><a href="http://www.monroecounty.gov/parks-index.php" title="Parks Department page">Parks</a></li>
					<li><a href="http://www.monroecounty.gov/planning-index.php" title="Planning and Development Department page">Planning and Development</a></li>
					<li><a href="http://www.monroecounty.gov/defender-index.php" title="Public Defender page">Public Defender</a></li>
				
					<li><a href="http://www.monroecounty.gov/health-index.php" title="Department of Public Health page">Public Health</a></li><li><a href="http://www.monroecounty.gov/safety-index.php" title="Department of Public Safety page">Public Safety</a></li>
					<li><a href="http://www.monroecounty.gov/pstf-index.php" title="Department of Public Safety page">Public Safety Training Facility (PSTF)</a></li>
					<li><a href="http://www.monroecounty.gov/purch-index.php" title="Purchasing and Central Services page">Purchasing</a></li><li><a href="http://www.monroecounty.gov/des-purewaters.php">Pure Waters</a></li>
					<li><a href="http://www.monroecounty.gov/sheriff-index.php" title="Sheriff page">Sheriff</a></li>
					<li><a href="http://www.monroecounty.gov/des-survey.php" title="Survey page">Survey</a></li>
				
					<li><a href="http://www.monroecounty.gov/dot-index.php" title="Department of Transportation page">Transportation (DOT) </a></li>
					<li><a href="http://www.monroecounty.gov/vet-index.php" title="Veterans Service Agency page">Veterans Agency</a></li>
					<li><a href="http://www.monroecounty.gov/youth-index.php" title="Rochester-Monroe County Youth Bureau page">Youth Bureau</a></li>
					<li><a href="http://www.monroecounty.gov/parks-zoo.php" title="Seneca Park Zoo page">Zoo</a></li>
				</ul>
					
			</div> 
		
			<div class="lm2">
				<p><a href="http://www.monroecounty.gov/hr-index.php">Human Resources Home</a></p>
				<ul>
					<li><a href="/hrapply<%= 'dev' if RAILS_ENV == 'development' %>">Job Openings and Civil Service Exams - Apply Online</a>
					<li><a href="/hrapply<%= 'dev' if RAILS_ENV == 'development' %>/subscribe">Email Notifications</a>
					<li><a href="/mccs<%= 'dev' if RAILS_ENV == 'development' %>/lists">Civil Service Exam Scores</a>
					<li><a href="http://www.monroecounty.gov/hr-civilservice.php">Civil Service Information</a>
					<li><a href="http://www.monroecounty.gov/hr-guides.php">Forms and Study Guides</a>
					<li><a href="http://www.monroecounty.gov/hr-faq.php">FAQ</a>
				</ul>
				<ol>
					<li><strong>Related Information</strong></li>
					<li><a href="http://www.monroecounty.gov/hr-index.php#NonDisciminationPolicy">Non-Discrimination Policy </a></li>
					<li><a href="http://www.monroecounty.gov/hr-index.php#Links">Helpful Online Information</a></li>
				</ol>
			</div>				
			
			<p style="text-align: center;"><img alt="" width="140" height="146" src="https://www.monroecounty.gov/Image/12WOH-Honoree-logo.jpg"></p>
			<p style="text-align: center;"><img alt="" width="140" height="140" src="https://www.monroecounty.gov/Image/E-Verify.jpg" /></p>
			<p style="text-align: center;"><a href="http://www.NYRxDiscountCard.com"><img alt="" width="140" height="60" src="https://www.monroecounty.gov/Image/ProActButton(1).jpg"></a></p>
			<p style="text-align: center;"><a href="http://www.monroecounty.gov/joblink-index"><img alt="Monroe County Joblink" width="140" height="60" src="https://www.monroecounty.gov/files/joblink/mjl_small.jpg"></a>!</p>


			
		</div>
	</body>
</html>